@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: var(--font-raleway), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*color: var(--foreground);*/
  background: var(--color-gray-300);
  background-color: var(--color-gray-200);
  /*@apply bg-gray-100 text-gray-900;*/
  font-family: var(--font-family), sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.header {
  position: relative;
  width: 100vw;
  height: 25vh; /* You can adjust the height */
  background-image: url('../public/images/header.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  padding: 0 100px 100px 0;
}

.nav-link-text {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.nav-link-selected-text {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.nav-link-image {
  width: 60px;
  height: 46px;
  background: transparent;
  justify-self: center;
}

.footer-image {
  width: 135px;
  height: 104px;
  background: transparent;
  justify-self: center;
}

.card-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background: #f4f4f4;
  padding: 20px;
  text-align: center;
}
